; "builtin" config from /opt/homebrew/lib/node_modules/npm/npmrc

prefix = "/usr/local"

; node bin location = /opt/homebrew/Cellar/node/18.11.0/bin/node
; node version = v18.11.0
; npm local prefix = /Users/burdon
; npm version = 8.19.2
; cwd = /Users/burdon
; HOME = /Users/burdon
; Run `npm config ls -l` to show all defaults.
